[Unit]
Description=Capture systemd boot profile
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/textbook-profile.sh
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
